body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 30px;
}
.card {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}
table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}
